<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A LITTLE HISTORY</h2>
                    <h3 class="section-subheading text-muted"> Get to know a bit about what I have done in the past</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006-2011</h4>
                                    <h4 class="subheading">Sgt in the United States Marine Corps</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In my five years, completed combat tours in Iraq and Afghanistan. These experiences continue to be incredibly influential in my personal and professional life. The Marine Corps allowed me to develop great leadership, communication and problem solving skills in high pressure situations.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012 - 2014</h4>
                                    <h4 class="subheading">Technology leads me to sales</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I knew that technology was a passion of mine and I wanted to work with it. My Account Mgmt. position at IT Firm in Minneapolis allowed me to familiarize myself with a variety of new technologies and services. I was able to increase professional services sales by 30% in the first 12 months using cutting edge sales techniques.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2015</h4>
                                    <h4 class="subheading">Take my management skills to the next level opening a Downtown Chicago restaurant</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My adventures in Chicago with Pinstripes were some of the most challenging I have had. The logistics alone of managing 80+ staff and 35,000sq foot building alone proved challenging on a daily basis. This was an incredible experience but I didn’t get to do much with technology so I decided to make a change…</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2015</h4>
                                    <h4 class="subheading">THE BIG PIVOT</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I decided to leave my management role in downtown Chicago and moved to Thailand to focus on pivoting my career towards web development. I have now spent 8 Months in Thailand focused on learning development, I have Completed both CodeCademy’s and CodeShool’s front end courses which covered HTML5, CSS3, SASS, Git, JavaScript, jQuery and Ajax.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2016 - Present</h4>
                                    <h4 class="subheading">The Development Mindset</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I also spent an immense amount of time <strike>breaking</strike> building projects to gain a comfortability with the languages. The idea of thinking in the language and not just writing it was a big barrier to overcome. Most importantly I dedicated time to training my brain to think like a web developer. breaking down problems to their smallest sub problem and solving what I knew (10%) and Googling what I didn’t (90%).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
