<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Goods</h2>
                    <h3 class="section-subheading text-muted">I'm driven and self taught front end developer looking for a new full time opportunity. Here are a few key ways I can add value to you, and your team</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Problem Solving</h4>
                    <p class="text-muted">Problem solving has been a key to my success in self-taught development. I enjoying breaking down a problem into sub problems and examining each piece. This has allowed me to increase my efficiency dramatically and in my opinion it is the most exciting part of any project. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Leadership</h4>
                    <p class="text-muted">The Marine Corps taught and tested leadership and team management skills every day. I enjoy using these skills in a new role to understand my teammates better and to relate to the leaders appointed above me. Those skills also translate into being able to clearly and succinctly articulate ideas or problems I have to team members at any level.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Work Ethic</h4>
                    <p class="text-muted">My work ethic is tenacious I love a challenge and the daily challenges a Jr. developer encounters are what continue to push me. I love the idea that there is always more to be learned and all the information is only a few clicks away.</p>
                </div>
            </div>
        </div>
    </section>
